@page "/dashboard"
@using Fluxor;
@using POSSAP_CCDB.Data.State;
@using POSSAP_CCDB.Data;
@using POSSAP_CCDB.Interface;
@using POSSAP_CCDB.Widgets;
@using POSSAP_CCDB.Data.Response;

@inject IDashboardService dashboardService

    <section class="main">
        <div class="content_bar_container">
            <div class="row">
                <div class="col-md-8">
                    <div class="d-flex flex-column">
                        <h3 class="content_bar_title">Hello </h3>
                        <p class="content_bar_subtitle">Here are your confidential information of convicts in the country.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex justify-content-end">
                    <a href="/add_convict">
                        <button class="content_bar_btn">
                            <img src="img/add-51255311.svg" alt="btn">Add Convict Record
                        </button>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="d-flex justify-content-between align-items-end">
                <h3 class="convict_text">MY CONVICTS DATA</h3>
            </div>
        </div>
        <div class="row d-flex justify-content-between mt-3 ">
            <div class="col-lg-12 mb-3 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dataEntryCard">
                                    <img src="img/cont-c842ac58.svg" alt="icon"
                                         class="managerImg" height="55" width="55">
                                    <div>
                                        <h3 class="card_total" style="color: rgb(16, 16, 16);">@report.totalConvicts</h3>
                                        <h3 class="card_title" style="color: rgb(113, 113, 113);">Total Convicts</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="dataEntryCard">
                                    <img src="img/male-cc0644b6.svg" alt="icon"
                                         class="managerImg" height="55" width="55">
                                    <div>
                                        <h3 class="card_total" style="color: rgb(16, 16, 16);">@report.totalMaleConvicts</h3>
                                        <h3 class="card_title" style="color: rgb(113, 113, 113);">Total Male Convicts</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="dataEntryCard">
                                    <img src="img/female-f4ff2736.svg" alt="icon"
                                         class="managerImg" height="55" width="55">
                                    <div>
                                        <h3 class="card_total" style="color: rgb(16, 16, 16);">@report.totalFemaleConvicts</h3>
                                        <h3 class="card_title" style="color: rgb(113, 113, 113);">Total Female Convicts</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="dataEntryCard">
                                    <img src="img/pendingI-ee2b890b.svg" alt="icon"
                                         class="managerImg" height="55" width="55">
                                    <div>
                                        <h3 class="card_total" style="color: rgb(16, 16, 16);">@report.totalPendingDataEntry</h3>
                                        <h3 class="card_title" style="color: rgb(113, 113, 113);">Pending Data Entry</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="dataEntryCard">
                                    <img src="img/dbI-3bf0b871.svg" alt="icon"
                                         class="managerImg" height="55" width="55">
                                    <div>
                                        <h3 class="card_total" style="color: rgb(16, 16, 16);">@report.totalQuerriedDataEntry</h3>
                                        <h3 class="card_title" style="color: rgb(113, 113, 113);">Queried Data Entry</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="dataEntryCard">
                                    <img src="img/fileS-2c39b4b2.svg" alt="icon"
                                         class="managerImg" height="55" width="55">
                                    <div>
                                        <h3 class="card_total" style="color: rgb(16, 16, 16);">@report.totalSuccessfulDataEntry</h3>
                                        <h3 class="card_title" style="color: rgb(113, 113, 113);">Successful Data Entry</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="dataEntryCard">
                                    <img src="img/moon-67e9518d.svg" alt="icon"
                                         class="managerImg" height="55" width="55">
                                    <div>
                                        <h3 class="card_total" style="color: rgb(16, 16, 16);">@report.totalIncompletDataEntry</h3>
                                        <h3 class="card_title" style="color: rgb(113, 113, 113);">Incomplete Data Entry</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="entryContainer">
                            <div class="entrySum">
                                <h3 class="managerSum">SUMMARY</h3>
                                <p class="managerConvict">Convict Data Entry</p>
                            </div>
                            <div class="row mx-1 justify-content-center position-relative" style="top: -55px;">
                                <div class="col-md-6 flex justify-content-center">
                                    <div class="entry_card_container" style="background: rgb(35, 141, 255);">
                                        <div class="d-flex flex-column w-100 justify-content-between">
                                            <img src="img/history-b04659a2.svg" alt="icon" width="30" height="30">
                                            <div class="d-flex flex-column justify-content-center align-items-center text-center">
                                                <h3 class="card_total" style="color: rgb(255, 255, 255);">@report.totalDataEntryPerDay</h3>
                                                <p class="entryTitle" style="color: rgb(255, 255, 255);">Daily Data Entry</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mx-1 mb-1" style="margin-top: -30px;">
                                <div class="col-md-6 mb-3">
                                    <div class="entry_card_container" style="background: rgb(242, 147, 4);">
                                        <div class="d-flex flex-column w-100 justify-content-between">
                                            <img src="img/weekly-b3e816f6.svg" alt="icon" width="30" height="30">
                                            <div class="d-flex flex-column justify-content-center align-items-center text-center">
                                                <h3 class="card_total" style="color: rgb(255, 255, 255);">@report.totalDataEntryPerWeek</h3>
                                                <p class="entryTitle" style="color: rgb(255, 255, 255);">Weekly Data Entry</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="entry_card_container" style="background: rgb(108, 158, 0);">
                                        <div class="d-flex flex-column w-100 justify-content-between">
                                            <img src="img/monthly-10257cd5.svg" alt="icon" width="30" height="30">
                                            <div class="d-flex flex-column justify-content-center align-items-center text-center">
                                                <h3 class="card_total" style="color: rgb(255, 255, 255);">@report.totalDataEntryPerMonth</h3>
                                                <p class="entryTitle" style="color: rgb(255, 255, 255);">Monthly Data Entry</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-6 mb-4 col-sm-12">
                <div class="box_card_container">
                    <div class="box_card_header">
                        <h3>Entries By Day of Week</h3>
                        <div class="box_card_body"></div>
                    </div>
                    <div class="box_card_content">
                        <div class="p-2">
                            <canvas role="img" height="394" width="789"
                                    style="display: block; box-sizing: border-box; height: 263px; width: 526px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <RecentTenConvicts/>
        
        </div>
    </section>




@code {

    //[Inject]
    //private IState<UserState> UserState { get; set; }

    private AppUser AppUser {get; set;}

    private DEConvictReportCountsResponseData report = new ();

    protected override async Task OnInitializedAsync()
    {
        var content = await dashboardService.GetDataEntryConvictReportCounts();
        report = content.data ?? null;
        //var AppUser = UserState.Value.CurrentUser ?? null;
    }
}
