@using POSSAP_CCDB.Data.Response;
@using POSSAP_CCDB.Interface;

@inject IDashboardService dashboardService

<div class="col-md-6 col-sm-12">
    <div class="box_card_container">
        <div class="box_card_header">
            <h3>Recently Added Convicts</h3>
            <div class="box_card_body">
                <h5 class="view_all">View All</h5>
            </div>
        </div>
        <div class="box_card_content">
            <div class="p-2">
                <div class="ant-table-wrapper table-striped-rows css-j0nf2s">
                    <div class="ant-spin-nested-loading css-j0nf2s">
                        <div class="ant-spin-container">
                            <div class="ant-table">
                                <div class="ant-table-container">
                                    <div class="ant-table-content">
                                        <table style="table-layout: auto;">
                                            <colgroup></colgroup>
                                            <thead class="ant-table-thead">
                                                <tr>
                                                    <th class="ant-table-cell" scope="col">Name</th>
                                                    <th class="ant-table-cell" scope="col">Gender</th>
                                                    <th class="ant-table-cell" scope="col">Prison</th>
                                                    <th class="ant-table-cell" scope="col">Prison State </th>
                                                    <th class="ant-table-cell" scope="col">Date Of Conviction</th>
                                                </tr>
                                            </thead>
                                            <tbody class="ant-table-tbody">
                                                @if (convictList.data != null)
                                                {
                                                    @foreach (var convict in convictList.data)
                                                    {
                                                        <tr class="ant-table-row ant-table-row-level-0">
                                                            <td class="ant-table-cell">@convict.name</td>
                                                            <td class="ant-table-cell">@convict.gender</td>
                                                            <td class="ant-table-cell"><a>@convict.prison</a></td>
                                                            <td class="ant-table-cell"><a>@convict.prisonState</a></td>
                                                            <td class="ant-table-cell"><a>@convict.dateOfConviction</a></td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <p>Loading...</p>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private GetTenRecentConvictsResponse convictList = new GetTenRecentConvictsResponse();

    protected override async Task OnInitializedAsync()
    {

        convictList = await dashboardService.GetTenRecentConvictsAsync();
    }  
}
